.parallax {
    /* The image used */
    background-image: url("loren-joseph-11eY-tkB9VU-unsplash-post.jpg");

    /* Set a specific height */
    width: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
  }
